/*--------------------------------------------------
		          LOGOMARCA SVG
---------------------------------------------------*/
.logo-sombra {fill:#442359}
.logo-roxo {fill:#68217A}
.logo-infinito {fill:white}
.logo-letra-preto {fill:black;fill-rule:nonzero}
.logo-letra-roxo {fill:#442359;fill-rule:nonzero}

.logo-branca .logo-sombra {display: none;}
.logo-branca .logo-roxo, .logo-branca .logo-letra-preto, .logo-branca .logo-letra-roxo {fill:#fff}
.logo-branca .logo-infinito {fill:#0aa699}

/*--------------------------------------------------
		      VALIDAÇÃO DO FORMULÁRIO
---------------------------------------------------*/
.error {
  font-size: 12px;
  color: #f35958;
  display: block;
}
input.error, input.error:focus  {
  border: 1px solid #f35958;
}
select.error, select.error:focus {
  border: 1px solid #f35958;
}
textarea.error, textarea.error:focus {
  border: 1px solid #f35958;
}
input:focus  {
    background-color: #fff !important;
}
select:focus {
    background-color: #fff !important;
}
textarea:focus {
    background-color: #fff !important;
}


/*--------------------------------------------------
		      MENSAGENS DE ALERTAS
---------------------------------------------------*/
#FormularioContato .btn-cons {
    min-width: 100%;
}
#FormularioContato .alert {
    padding: 8px;
}


/*--------------------------------------------------
		      AJUSTES GERAIS
---------------------------------------------------*/
.m-b-0 {
	margin-bottom:0px !important;
}
.text-sobre {
    font-family: 'Open Sans';
    font-size: 18px;
}


/*--------------------------------------------------
		      LINHA DO TEMPO
---------------------------------------------------*/
.cbp_tmtimeline {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.cbp_tmtimeline li {
  position: relative;
}
.cbp_tmtimeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background-color: #e5e9ec;
  left: 20%;
  margin-left: -10px;
}
.cbp_tmtimeline > li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
  font-family: 'Arial';
  text-align: right;
}
.cbp_tmtimeline > li .cbp_tmtime .date {
  font-size: 1.2em;
  color: #505458;
  margin-bottom: 5px;
  display: block;
}
.cbp_tmtimeline > li .cbp_tmtime .time {
  font-size: 1.5em;
  color: #505458;
  display: block;
}
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
  color: #505458;
}
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
  background: #ffffff;
}
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
  border-right-color: #ffffff;
}
.cbp_tmtimeline > li .cbp_tmlabel {
  margin: 0 0 15px 25%;
  background: #ffffff;
  font-size: 13px;
  line-height: 1.4;
  position: relative;
}
.cbp_tmtimeline > li .cbp_tmlabel h2 {
  margin-top: 0px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.cbp_tmtimeline > li .cbp_tmlabel:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-right-color: #ffffff;
  border-width: 10px;
  top: 10px;
}
.cbp_tmtimeline > li .cbp_tmicon {
  width: 40px;
  height: 40px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 37px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #7c8694;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #ffffff;
  text-align: center;
  left: 20%;
  top: 0;
  margin: 0 0 0 -25px;
  font-size: 1.3em;
}
.cbp_tmtimeline > li .cbp_tmicon.success {
  background: #0090d9;
  box-shadow: 0 0 0 8px #2ba3df;
  color: #ffffff;
}
.cbp_tmtimeline > li .cbp_tmicon.primary {
  background: #0aa699;
  box-shadow: 0 0 0 8px #33b5aa;
  color: #ffffff;
}
.cbp_tmtimeline > li .cbp_tmicon.warning {
  background: #fbb05e;
  box-shadow: 0 0 0 8px #fcbd79;
  color: #ffffff;
}
.cbp_tmtimeline > li .cbp_tmicon.danger {
  background: #f35958;
  box-shadow: 0 0 0 8px #455a70;
  color: #ffffff;
}
.cbp_tmtimeline > li .cbp_tmicon.info {
  background: #1f3853;
  box-shadow: 0 0 0 8px #455a70;
  color: #ffffff;
}
.cbp_tmtimeline .action-links {
  margin: 4px 0 0;
  list-style: none;
  font-size: 13px;
  padding: 0;
  float: left;
}
.cbp_tmtimeline .action-links li {
  display: inline;
  float: left;
  position: relative;
  padding-left: 0px;
  padding-right: 8px;
  color: #8b91a0;
}
.cbp_tmtimeline .action-links li:after {
  color: #999999;
  content: "•";
  padding-left: 8px;
}
.cbp_tmtimeline .action-links li:last-child:after {
  content: "";
}
/* Media Queries */
@media screen and (max-width: 47.2em) {
  .cbp_tmtimeline:before {
    display: none;
  }
  .cbp_tmtimeline > li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }
  .cbp_tmtimeline > li .cbp_tmtime {
    text-align: left;
  }
  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 30px 0;
    padding: 1em;
    font-weight: 400;
    font-size: 95%;
  }
  .cbp_tmtimeline > li .cbp_tmlabel:after {
    right: auto;
    left: 20px;
    border-right-color: transparent;
    border-bottom-color: #fff;
    top: -20px;
  }
  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: transparent;
    border-bottom-color: #fff;
  }
  .cbp_tmtimeline > li .cbp_tmicon {
    position: relative;
    float: right;
    left: auto;
    margin: -55px 5px 0 0px;
  }
}